<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="use_kvaser" default="true"/>
  <arg name="kvaser_hardware_id" default="27733"/>
  <arg name="use_ssc" default="false"/>

  <!-- pacmod3 -->
  <group ns="pacmod">
    <include file="$(find pacmod3)/launch/pacmod3.launch">
      <arg name="pacmod_vehicle_type" value="LEXUS_RX_450H"/>
      <arg name="use_kvaser" value="$(arg use_kvaser)"/>
      <arg name="kvaser_hardware_id" value="$(arg kvaser_hardware_id)"/>
    </include>
  </group>

  <!-- ssc -->
  <include file="$(find ssc_pm_lexus)/launch/speed_steering_control.launch" if="$(eval use_ssc==true)">
    <arg name="namespace" value="as"/>
  </include>

  <!-- ssc_interface -->
  <include file="$(find as)/launch/ssc_interface.launch" if="$(eval use_ssc==true)"/>

  <!-- pacmod_interface -->
  <include file="$(find as)/launch/pacmod_interface.launch" if="$(eval use_ssc==false)"/>

</launch>
